<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="directory" value="\\MYLAPTOP\C$\temp\"/>
		<add key="socketKeepAliveTime" value="10000"/> <!--Time in milli seconds-->
		<add key="port" value="5050"/>
		<add key="fileTypeToMonitor" value="*.txt"/>
	</appSettings>
</configuration>