<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="directory" value="\\MyLaptop\C$\temp\"/>
    <add key="socketKeepAliveTime" value="10000"/>
    <!--Time in milli seconds-->
    <add key="port" value="5050"/>
    <add key="fileTypeToMonitor" value="*.txt"/>
    <add key="keyTimeoutPoolValue" value="10000"/>
    <!--Time in milli seconds - Select a value more than 10 sec-->
    <add key="maxThreads" value="100"/>
    <add key="minThreads" value="10"/>
    <add key="threadIdleTime" value="1"/>
    <add key="ip" value="127.0.0.1"/>
    <add key="counterToExpire" value="10"/>
  </appSettings>
</configuration>